<!DOCTYPE html>
<html>
  <head>
    <title>BE</title>
    <%= csrf_meta_tags %>
       <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
  </head>

  <body>
  <div id="sidebar">
  	<div id="logo">
  		<%=link_to root_path do%>
  			<%= image_tag("logo.png") %>
  		<% end %>
  	</div>
  	
  	<ul>
  		<li class="category"> WEBSITE</li>
  		<li><%= link_to "Blog", root_path %> </li>
  		<li><%= link_to "About", about_path %></li>
  	</ul>

  	<ul>
  		<li class="category"> SOCIAL</li>
  		<li>Twitter</li>
  		<li>Facebook</li>
  		<li>Instagram</li>
  	</ul>
  	
  	<p class="sign_in">Admin Login</p>
  </div>

  <div id="main_content">
  	<div id="header">
      <% if current_page?(root_path) %>
  		  <p>ALL POSTS</p>
      <% elsif current_page?(about_path) %>
        <p>ABOUT</p>
      <% else %>
        <p><%= link_to "GO BACK TO ALL POSTS" , root_path %></p>
      <% end %>
  		<div class="buttons">
  			<button class="button"><%= link_to "New Post", new_post_path %></button>
  			<button class="button"> Log Out</button>
  		</div>
  	</div>
  	 
  	
  	<%= yield %>
  </div>	

    
  </body>
</html>



